@import url(//db.onlinewebfonts.com/c/b1b2e2db2eef02d230247a474d1d66a6?family=Chiller);


.App {
  background-color: black;
  
}

.foot{
  text-align: center;
    color: rgb(10, 10, 10);
}
.alignment{
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
}

.table{
  margin: 30px 100px 30px 100px;
}
.tbbg{
  background-color: #68bbdf;
  border-radius: 10px;
}
.search{
display: flex;
align-items: center;
justify-content: center;
}
.heading{
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Courier New', Courier, monospace;
  
}